https://{{SSL_DOMAIN}} {
    proxyprotocol 0.0.0.0/0
    tls {{ACME_EMAIL}}
    proxy /api localhost:{{V2RAY_HTTP_INTERNAL_PORT}} {
        websocket
        transparent
    }
{{#DASHBOARD_INTERNAL_PORT}}
    proxy /supervisord localhost:{{DASHBOARD_INTERNAL_PORT}} {
        transparent
    }
{{/DASHBOARD_INTERNAL_PORT}}
}