https://{{SSL_DOMAIN}} {
    errors stderr {
        404 index.html
    }
    gzip
    proxyprotocol 0.0.0.0/0
    tls {{ACME_EMAIL}}
    proxy {{^V2RAY_HTTP_WEBSOCKET_PATH}}/{{/V2RAY_HTTP_WEBSOCKET_PATH}}{{#V2RAY_HTTP_WEBSOCKET_PATH}}/{{V2RAY_HTTP_WEBSOCKET_PATH}}{{/V2RAY_HTTP_WEBSOCKET_PATH}} localhost:{{V2RAY_HTTP_INTERNAL_PORT}} {
        websocket
        transparent
    }
}
