{
    "host": "{{SSR_DB_HOST}}",
    "port": {{SSR_DB_PORT}},
    "user": "{{SSR_DB_USER}}",
    "password": "{{SSR_DB_PWD}}",
    "db": "{{SSR_DB_NAME}}",
    "node_id": {{SSR_DB_NODE}},
    "transfer_mul": {{SSR_DB_MUL}},
    "ssl_enable": {{SSR_DB_SSL}},
    "ssl_ca": "{{SSR_DB_SSL_CA}}",
    "ssl_cert": "{{SSR_DB_SSL_CRT}}",
    "ssl_key": "{{SSR_DB_SSL_KEY}}"
}