{{#SSR_SINGLE_USER}}
API_INTERFACE = 'mudbjson'
UPDATE_TIME = 60
SERVER_PUB_ADDR = '{{PUBLIC_IP}}'

# MUDB
MUDB_FILE = 'mudb.json'
{{/SSR_SINGLE_USER}}
{{^SSR_SINGLE_USER}}
API_INTERFACE = '{{SSR_API_INTERFACE}}'
UPDATE_TIME = 60
SERVER_PUB_ADDR = '{{PUBLIC_IP}}'

# MUDB
MUDB_FILE = 'mudb.json'

# Mysql
MYSQL_CONFIG = 'usermysql.json'
{{/SSR_SINGLE_USER}}